html,
body {
  padding: 0;
  margin: 0;
  font-family: "Quicksand", sans-serif;
  overflow: hidden;
}
a {
  text-decoration: none;
}
div.topcat {
  width: 100%;
  height: 50px;
  background-color: rgb(0, 153, 255);
  padding-bottom: 10px;
  padding-top: 10px;
}
h1.topcat {
  color: white;
  text-align: center;
  margin: 0;
}
br.thiccbr {
  font-size: 30px;
}
div.line {
  background-color: rgb(0, 153, 255);
  margin: 5px;
  width: 100% - 10px;
  height: 2px;
  margin-top: 45px;
}
.gridWrapper {
  display: grid;
  grid-gap: 1px;
  grid-template-columns: 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px;
  grid-template-rows: 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px;
  width: 200px;
  height: 500px;
}
.gridBlock {
  width: 20px;
  height: 20px;
  background-color: black;
  background-size: cover;
}
.gridBlock:hover {
  filter: opacity(30);
  opacity: 0.3;
}
.gridBg {
  margin: 10;
  width: 209px;
  height: 524px;
  padding: 1px;
  background-image: url("./TMPGenerator_src/gridBgImage.PNG");
}

div.tools {
  width: 300px;
  height: 522px;
  background-color: rgb(73, 73, 73);
  margin-top: -542px;
  margin-left: 250px;
  color: rgb(187, 187, 187);
}

div.imgPreset {
  height: 25px;
  width: 25px;
  background-size: cover;
  margin: 2;
  margin-left: 10px;
}

.mylilbtn {
  background-color: rgb(0, 153, 255);
  padding: 5;
  border: none;
  margin: 10;
  color: white;
  width: 75px;
}

.mylilbtn:hover {
  background-color: rgb(60, 177, 255);
}

.mylilbtn:active {
  background-color: rgb(108, 196, 255);
}

.mybtn {
  background-color: rgb(140, 0, 255);
  padding: 5;
  border: none;
  margin: 10;
  color: white;
  width: auto;
}

.mybtn:hover {
  background-color: rgb(190, 140, 255);
}

.mybtn:active {
  background-color: rgb(213, 140, 255);
}

.m {
  margin-left: 45px;
  position: absolute;
  margin-top: -20px;
}

p.tools {
  position: absolute;
  margin-top: -23px;
  margin-left: 60px;
}

.texteditor {
  position: absolute;
  margin-left: 575px;
  margin-top: -628px;
}

#txt {
  resize: none;
  height: 524px;
  width: 300px;
}

#bStyle {
  margin: 10;
  color: black;
}
